# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Highscore.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\KUSAKA\HighScore\.idea\.idea.Highscore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
